name: Build basic binary linux

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Create new directory
      run: |
        mkdir bin
        touch bin/basic
   
    - name: make
      run: make
 
    - name: Create Release
      id: create_release
      uses: softprops/action-gh-release@v1
      with:
        files: bin/basic
        draft: false
        prerelease: false
        name: Release ${{ github.ref_name }}
        tag_name: ${{ github.ref_name }}