name: Build basic binary linux

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    
    - name: Create new directory
      run: |
        mkdir bin
        touch bin/basic
         

    - uses: actions/checkout@v4
    - name: make
      run: make
 
  
